* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;}
body {
    background-color: lightblue;
    overflow-x: hidden;   }
.container {
    width: 80%;
    margin: 20px auto;}
.header,.footer {
    display: flex;
    height: 60px;
    border: 3px solid black;
    background-color: antiquewhite;
    justify-content: center;
    font-size: medium;
    font-weight: bold;}
.footer {
    height: 40px;
    margin-top: 10px;}
.main {
    border: 3px solid black;
    display: flex;
    margin-top: 10px;
}

.sidebar {
    flex: 1;
    border-right: 3px solid black;
    background-color: antiquewhite;
}
.content {
    flex: 3;
    padding: 10px;   
}
.content_header {
    height: 60px;
    border: 3px solid black;
    background-color: antiquewhite;
    margin-bottom: 10px;
}
.bottom_content {
    display: flex;
    gap: 10px;  
}
.box {
    flex: 1;
    border: 3px solid black;
    height: 260px;
    background-color: antiquewhite;
}
