 body{
        display: flex;
        flex-direction: column;
        margin-top: 3px;
        margin: 0;
    }
    html{
        scroll-behavior: smooth;}
   header{
        position: fixed;
        background: black;
        color: white;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 94%;
        border-radius: 2px;
        margin: 0;}
    nav ul{
        display: flex;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;}
    main{
        border: 2px solid black;
        height: 100vh;
        background-color: lightblue;}
    p{
        height: 100vh;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 3rem;}
#home{
        height: 100vh; 
        background-color: lightcoral;
        border: 2 px solid black;}
     #service{
        height: 100vh; 
        background-color: rgb(230, 217, 173);
        border: 2 px solid black;}
    #portfolio{
        height: 100vh; 
        background-color: rgb(230, 173, 193);
        border: 2 px solid black;}
     #about{
        height: 100vh; 
        background-color: rgb(230, 230, 173);
        border: 2 px solid black;}
    #contact{
        height: 100vh; 
        background-color: rgb(194, 173, 230);
        border: 2 px solid black;}
    a{ color: white; text-decoration: none;}