
nav ul{
        display: flex;
        gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
        
    }
div{
 background: black;
        color: white;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 94%;
        border-radius: 2px;
        margin: 1rem;
}   

.second_head{
      background: red;
        }
.second_head li{
    cursor: pointer;
    transition: 0.3s;
}
.second_head li:hover{
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
} 

.third_head {
    padding: 0;
    gap: 0;
}  
.third_head nav ul{
   gap: 0;

}
.third_head li{

    padding: 10px 20px;
    border: 1px solid white; 
    color: white;
    }
.third_head li:hover{
    background-color:lightgreen;
    color: black;
    } 

.fourth_head li:not(.active):hover{
    background-color: gray;
    color: white;
}


.fourth_head li.active{
    background-color: #e74c3c; 
    color: white;
    font-weight: bold;
}

@media (max-width: 768px) {

    .first_head ul {
        flex-direction: column;      
        align-items: center;        
        padding: 0;                 
        width: 100%;                 
        margin: 0;                  
    }

    .first_head ul li {
        display: block;              
        width: auto;                 
        text-align: center;          
        padding: 10px 0;            
        border-bottom: 1px solid #444; 
    }
}

